@media (min-width:1680px) {
    
    /* -------------- */
    /* Common Styling */
    /* -------------- */
    html, body {
        scroll-behavior: smooth;
    }

    body {
        font-family: 'Inter', sans-serif;
    }

    body * {
        box-sizing: border-box;
    }

    @media screen {
        body {
            background-color: #fff;
        }
    }

    main {
        width: 100%;
        /* margin: 0 auto; */
        font-size: 12pt;
    }

    /* --------------- */
    /* Full Page Styling */
    /* --------------- */
    main .resume {
        /* width: 210mm; */ /* A4 Page Styling */
        /* margin: 60px auto 10px; */
        background-color: #fff;
        /* border: 1px solid rgba(0, 0, 0, 0.5); */
    }

    @media print {
        main .resume {
            margin: 0;
            border: none;
        }
    }

    main .resume .page {
        /* width: 210mm; */
        height: auto;
        padding: 15mm 43mm;
    }

    main .resume .extra-small-devices {
        display: none;
    }

    main .resume .page .resume-header {
        height: 8.5mm;
        display: grid;
        grid-template-columns: 50mm auto;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 50pt;
    }

    main .resume .page .resume-header .resume-title {
        letter-spacing: 3px;
        font-size: 25pt;
        text-align: left;
    }

    main .resume .resume-header .resume-updated-date {
        display: grid;
        justify-self: end;
        align-self: center;
    }

    main .resume .resume-header .resume-updated-date p {
        font-size: 8pt;
    }

    main .resume .page .personal-data p.label,
    main .resume .page .personal-data p.value {
        text-align: left;
        align-self: center;
        padding: 0 1mm;
    }

    main .resume .page .personal-data .basic-data {
        display: grid; 
        grid-template-columns: 50mm 215mm 50mm auto;
        grid-template-rows: 15mm 25mm 15mm;
    }

    main .resume .page .personal-data .basic-data .name-furigana {
        height: 15mm;
        grid-column: 1 / 3;
        grid-row: 1 / 3;
        display: grid;
        grid-template-columns: 50mm 215mm 50mm auto;
        border-top: 1px solid #000;
        border-right: 1px solid #000;
        border-bottom: 1px solid #000;
        border-left: 1px solid #000;
    }

    main .resume .page .personal-data .basic-data .name-furigana p.label {
        grid-column: 1 / 2;
        font-size: 12.5pt;
        padding: 0 10pt;
        font-weight: bold;
    }

    main .resume .page .personal-data .basic-data .name-furigana p.value {
        grid-column: 2 / 3;
        font-size: 12.5pt;
    }

    main .resume .page .personal-data .basic-data .name {
        height: 25mm;
        line-height: 25mm;
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        display: grid;
        grid-template-columns: 50mm 215mm 50mm auto;
        border-right: 1px solid #000;
        border-bottom: 1px solid #000;
        border-left: 1px solid #000;
    }

    main .resume .page .personal-data .basic-data .name p.label {
        grid-column: 1 / 2;
        padding: 0 10pt;
        font-weight: bold;
    }
    
    main .resume .page .personal-data .basic-data .name p.value {
        grid-column: 2 / 3;
        font-size: 35pt;
        text-transform: uppercase;
        letter-spacing: 3px;
    }

    main .resume .page .personal-data .basic-data .birthday {
        grid-row: 3 / 4;
        grid-column: 1 / 3;
        border-right: 1px solid #000;
        border-bottom: 1px solid #000;
        border-left: 1px solid #000;
        display: grid;
        grid-template-columns: 50mm 215mm 50mm auto;
        align-items: center;
    }

    main .resume .page .personal-data .basic-data .birthday p.label {
        grid-column: 1 / 2;
        padding: 0 10pt;
        font-weight: bold;
    }
    
    main .resume .page .personal-data .basic-data .birthday p.value {
        grid-column: 2 / 3;
    }

    main .resume .page .personal-data .basic-data .gender {
        grid-row: 1 / 4;
        grid-column: 3 / 4;
        display: grid;
        align-items: center;
        text-align: center;
        grid-template-columns: 2fr;
        height: 55mm;
        border-top: 1px solid #000;
        border-right: 1px solid #000;
        border-bottom: 1px solid #000;
    }

    main .resume .page .personal-data .basic-data .gender p {
        text-align: center;
    }

    main .resume .page .personal-data .basic-data .id-photo {
        display: grid;
        grid-row: 1 / 4;
        grid-column: 4 / 4;
        height: 55mm;
        border-top: 1px solid #000;
        border-right: 1px solid #000;
        border-bottom: 1px solid #000;
    }

    img {
        height: 206px;
    }

    main .resume .page .personal-data .contact-info {
        display: grid; 
        grid-template-columns: 50mm 215mm 50mm auto;
        grid-template-rows: 15mm 15mm 15mm 15mm;
        border-left: 1px solid #000;
    }

    main .resume .page .personal-data .contact-info .nationality {
        grid-row: 1 / 3;
        grid-column: 1 / 3;
        display: grid;
        border-right: 1px solid #000;
        border-bottom: 1px solid #000;
        grid-template-columns: 50mm 215mm;
    }

    main .resume .page .personal-data .contact-info .nationality p.label {
        padding: 0 10pt;
        font-weight: bold;
    }

    main .resume .page .personal-data .contact-info .nationality p.value {
        grid-column: 2 / 3;
    }

    main .resume .page .personal-data .contact-info .phone-number {
        grid-row: 1 / 3;
        grid-column: 3 / 5;
        display: grid;
        border-right: 1px solid #000;
        border-bottom: 1px solid #000;
        grid-template-columns: auto;
    }

    main .resume .page .personal-data .contact-info .phone-number p.label {
        border-bottom: 1px solid #000;
        padding: 15pt;
        font-weight: bold;
    }

    main .resume .page .personal-data .contact-info .phone-number p.value {
        padding: 15pt;
    }

    main .resume .page .personal-data .contact-info .address {
        grid-row: 3 / 5;
        grid-column: 1 / 3;
        display: grid;
        border-bottom: 1px solid #000;
        border-right: 1px solid #000;
        grid-template-columns: 50mm 215mm;
    }

    main .resume .page .personal-data .contact-info .address p.label {
        padding: 0 10pt;
        font-weight: bold;
    }

    main .resume .page .personal-data .contact-info .address p.value {
        line-height: 15pt;
    }

    main .resume .page .personal-data .contact-info .email {
        grid-row: 3 / 5;
        grid-column: 3 / 5;
        display: grid;
        border-right: 1px solid #000;
        border-bottom: 1px solid #000;
        grid-template-columns: auto;
    }

    main .resume .page .personal-data .contact-info .email p.label {
        border-bottom: 1px solid #000;
        padding: 15pt;
        font-weight: bold;
    }

    main .resume .page .personal-data .contact-info .email p.value {
        padding: 15pt;
    }

    main .resume .page .education-and-career-history, 
    main .resume .page .objective {
        margin: 30px 0px;
    }

    main .resume .page .education-and-career-history table, 
    main .resume .page .objective table {
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
        border: 1px solid #000
    }

    main .resume .page .education-and-career-history table thead th, 
    main .resume .page .education-and-career-history table tbody td, 
    main .resume .page .objective table thead th, 
    main .resume .page .objective table tbody td {
        border: 1px solid #000
    }

    main .resume .page .education-and-career-history table thead tr.primary-heading, 
    main .resume .page .objective table thead tr.primary-heading {
        background-color: #000;
        color: #fff;
        height: 30px;
    }

    main .resume .page .education-and-career-history table thead tr.secondary-heading {
        background-color: #D9D9D9;
        height: 30px;
    }

    main .resume .page .education-and-career-history table thead tr.secondary-heading th {
        color: #000;
    }

    main .resume .page .education-and-career-history table tbody tr td.value, 
    main .resume .page .objective table tbody tr td.value {
        height: 50px;
        line-height: 25px;
    }

    .center {
        text-align: center;
    }

    .right {
        text-align: right;
        padding-right: 25px;
    }

    main .resume .page .education-and-career-history table thead tr th:first-child, 
    main .resume .page .education-and-career-history table tbody tr td:first-child {
        width: 15%;
    }

    main .resume .page .education-and-career-history table thead tr th:nth-child(2), 
    main .resume .page .education-and-career-history table tbody tr td:nth-child(2) {
        width: 10%;
    }

    main .resume .page .education-and-career-history table tbody tr td.value:nth-child(3), 
    main .resume .page .objective table tbody tr td.value:nth-child(1) {
        padding: 0 15px;
    }

    main .resume .page .motivation {
        display: grid;
        grid-template-columns: auto 50mm 50mm;
        grid-template-rows: repeat(3, 20mm);
    }

    main .resume .page .motivation .self-promotion {
        grid-row: 1 / 4;
        grid-column: 1;
        border-right: 1px solid #000;
        border-bottom: 1px solid #000;
        border-left: 1px solid #000;
        border-top: 1px solid #000;
    }

    main .resume .page .motivation .self-promotion p.label {
        padding: 10px 15px;
        font-weight: bold;
    }

    main .resume .page .motivation .self-promotion p.value {
        height: auto;
        padding: 5px 15px;
        line-height: 30px;
        text-align: justify;
    }

    main .resume .page .motivation .commuting-time {
        display: grid;
        grid-row: 1 / 2;
        grid-column: 2 / 4;
        grid-template-rows: 10mm 10mm;
        border-top: 1px solid #000;
        border-right: 1px solid #000;
        border-bottom: 1px solid #000;
    }

    main .resume .page .motivation p.label {
        padding: 10px 15px;
        font-weight: bold;
    }

    main .resume .page .motivation .commuting-time .commuting-time-data {
        text-align: center;
        line-height: 10mm;
        display: grid;
        grid-template-columns: auto 20mm 20mm 20mm 20mm;
        text-align: center;
        align-self: center;
    }

    main .resume .page .motivation .commuting-time .commuting-time-data p.data-label {
        font-weight: bold;
    }

    main .resume .page .motivation .dependents {
        display: grid;
        grid-row: 2 / 3;
        grid-column: 2 / 4;
        border-bottom: 1px solid #000;
        border-right: 1px solid #000;
        grid-template-rows: 10mm 10mm;
    }

    main .resume .page .motivation .dependents .dependents-data {
        display: grid;
        grid-template-columns: auto 20mm;
        align-self: center;
    }

    main .resume .page .motivation .dependents .dependents-data p.value {
        text-align: right;
        display: grid;
        align-self: center;
    }

    main .resume .page .motivation .marital-status {
        display: grid;
        grid-row: 3 / 4;
        grid-column: 2 / 3;
        border-right: 1px solid #000;
        border-bottom: 1px solid #000;
        grid-template-rows: 10mm 10mm;
    }

    main .resume .page .motivation .marital-status .marital-status-data p.value {
        text-align: center;
        line-height: 10mm;
    }

    main .resume .page .motivation .obligation-to-support-spouse {
        display: grid;
        grid-row: 3 / 4;
        grid-column: 3 / 4;
        border-right: 1px solid #000;
        border-bottom: 1px solid #000;
        grid-template-rows: 10mm 10mm;
    }

    main .resume .page .motivation .obligation-to-support-spouse .obligation-to-support-spouse-data p.value {
        text-align: center;
        line-height: 10mm;
    }

    main .resume .page .objective table thead tr.primary-heading th.label {
        text-align: left;
        padding: 0 15px;
    }

}
